[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = TEST
[access "refs/*"]
	owner = group user/venkata4bd
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/venkata4bd
	label-Verified = -1..+1 group user/venkata4bd
	push = group user/venkata4bd
	read = group user/venkata4bd
	rebase = group user/venkata4bd
	removeReviewer = group user/venkata4bd
	submit = group user/venkata4bd
[access "refs/heads/*"]
	create = group user/venkata4bd
	push = +force group user/venkata4bd
	pushMerge = group user/venkata4bd
	read = group user/venkata4bd
[access "refs/tags/*"]
	push = group user/venkata4bd
	push = +force group user/venkata4bd
